html {

}
body {
    color: #7FFF00 !important;
    background-color: black;
    /* http://www.sitepoint.com/understanding-and-using-rem-units-in-css */
    font-size: 2rem !important;
}
h1 {
    text-align: center;
}
h2 {
    background-color: #7FFF00 !important;
    color: black;
    margin-top: 4rem;
}
th{
    font-size: 2.5rem !important;
}
.button {
    color: #7FFF00 !important;
    border-color: #7FFF00 !important;
    font-size: 2rem !important;
}
a {
    color: #7FFF00 !important;
}
.desktop:hover {
    color: black !important;
    background-color:  #7FFF00 !important;
}
input {
    font-size: 2rem !important;
    height: 1em !important;  /* otherwise not tall enough */
    margin-right: 3% !important;
}
input#channel {
    /* Uses 'type="number"' because it opens numeric keypad on mobiles.
     * Have to override default huge width this way because 'width='
     * is ignore for 'number'.
     *
     * placeholder font size set in browser-specific sections below
     */
    width: 3em; 
    border-color: #7FFF00;
    font-family: Monaco; /* descenders on skeleton font are screwy */
    background-color:  #505050;
}
#channelInput > * {
    /* necessary to align channel number and checkbox */
    vertical-align: middle !important;
}
.cmd-right {
    text-align: right;
}
.cmd-center {
    text-align: center;
}
.fa-remote {
    font-size: 5rem !important;
    padding-right: 5%;
}
.reverse {
    background-color: #7fff00 !important;
    color: black !important;
}
td {
    font-weight: 600;
}
/*********************************************************************************
 * This is some really ugly stuff to implement the fixed position command
 * line at the top of the page.  It should be replaced.
 *********************************************************************************/
.fixedHeader {
     position: fixed;
     width: 100%;
     height: 100px;
     background-color: black;
     z-index: 999;
 }
 .fixedHeaderSpacer {
     width: 100%;
     height: 100px;
 }
 .evenlySpacedChildren > div {
     margin: 10px;
     padding: 20px;
 }
 .evenlySpacedChildren {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
 }
 .volumeTweak {
     font-size: 5rem;
     width: 5rem;
 }
