<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <script type='text/javascript' src='static/js/jquery-2.2.3.min.js'></script>
  <script type='text/javascript' src='static/js/jquery.tablesorter.min.js'></script>
  <script type='text/javascript' src='static/js/remote.js'></script>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>AV Remote Control</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/skeleton/css/normalize.css">
  <link rel="stylesheet" href="static/skeleton/css/skeleton.css">
  <link href='static/css/remote.css' rel='stylesheet' type='text/css'></link>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <style type='text/css'>
    <!-- any final overrides here-->
  </style>

  <script type="text/javascript">

  </script>

</head>
<body>

  <!--------------------------------------------------------------------------------
      Fixed-place Upper Command Line
    -------------------------------------------------------------------------------->

  <div  id='CL' class='fixedHeader evenlySpacedChildren'>
    <div id='P'>
      <i class='fa fa-remote fa-power-off'    onclick="remote('/sys/power/toggle')"></i>
    </div>
    <div id='V'>
      <i class='fa fa-volume-off  volumeTweak' onclick="remote('/aud/volume/mute')"></i>&nbsp
      <i class='fa fa-volume-down volumeTweak' onclick="remote('/aud/volume/down')"></i>&nbsp
      <i class='fa fa-volume-up   volumeTweak' onclick="remote('/aud/volume/up')"></i>&nbsp
    </div>
    <div id='U'>
      <i class='fa fa-remote fa-level-up'     onclick="scrollToTop()"></i>
    </div>
  </div>

  <div id='headerSpacer' class='fixedHeaderSpacer'>
    &nbsp
  </div>

  <!--------------------------------------------------------------------------------
      Primary Page Layout
    -------------------------------------------------------------------------------->

  <div id='main' class="section main">

    <div id='status' class='statusBox'>
      <!-- status goes here -->
    </div>

    <div class="container">

      <!--------------------------------------------------------------------------------
        -- This macro defines the format of the different channel
        -- listing sections.
        -------------------------------------------------------------------------------->
      % macro channelList(title, ch1, ch2, ch3, ch4, listingFunc)
	  <div>
	     <h2>{{ title }}</h2>
	     <table id='{{ title }}' class='u-full-width tablesorter'>
	       <thead>
		 <tr>
		   <th class='columnHeading'>{{ ch1 }}</th>
		   <th class='columnHeading'>{{ ch2 }}</th>
		   <th class='columnHeading'>{{ ch3 }}</th>
		   <th class='columnHeading cmd-right'>{{ ch4 }}</th>
		 </tr>
	       </thead>
	       <tbody>
		 % for (id, number, img, description) in listingFunc()
		 <tr>
		    <td><a onclick=remote('/cbl/channel/{{ number }}')>{{ description }}</a></td>
		    <td><img onclick=remote('/cbl/channel/{{ number }}') src='{{ img }}'</img></td>
		    <td><a onclick=remote('/cbl/channel/{{ number }}')>{{ id }}</a></td>
		    <td class='cmd-right'><a onclick=remote('/cbl/channel/{{ number }}')>{{ number }}</a></td>
		 </tr>
		 % endfor
	       </tbody>
	     </table>
	  </div>
      % endmacro

      {{ channelList('FAVORITES', 'Description', '', 'ID', 'Channel No.', ChannelGroups.favoriteChannels) }}

      <!--------------------------------------------------------------------------------
	  Cable Channel Tuner
	-------------------------------------------------------------------------------->

      <div class="row">
	<h2>CABLE CHANNEL</h2>
      </div>

      <div class="evenlySpacedChildren">
	<div id='cableChannel'>
	  <h3>Go To</h3>
	</div>
	<div>
	  <h3>Up / Down</h3>
	</div>
      </div>
      
      <div class="row">
	<div id='channelInput' class="eight columns">
	  <i class='fa fa-mail-forward fa-remote' 
	     onclick='remote(channelURL("/cbl/channel", $("input#channel").val()))'></i>
	  <input class='fa-remote' id='channel' type='number' placeholder='###'>
	</div>
	<div class="three columns cmd-right">
	  <i class='fa fa-angle-up   fa-remote' onclick='remote("/cbl/channel/up")'></i>
	</div>
      </div>
      
      <div class="row">
	<div class="eight columns">
	  &nbsp
	</div>
	<div class="three columns cmd-right">
	  <i class='fa fa-angle-down fa-remote' onclick='remote("/cbl/channel/down")'></i>
	</div>
      </div>

      <!--------------------------------------------------------------------------------
	  Cable Program Guide
	-------------------------------------------------------------------------------->

      <h2>CABLE PROGRAM GUIDE</H2>

      <div class="row">
	<div class="twelve columns">
	  <div class="six columns"><h3>Show / Hide</h3></div>
	  <div class="six columns cmd-right"><h3>Navigate</h3></div>
	</div>
      </div>

      <div class="row">
	  <div class="six columns">
      	    <i class='fa fa-list-alt     fa-remote' onclick='remote("/cbl/guide/show")'></i>
      	    <i class='fa fa-rotate-left  fa-remote' onclick='remote("/cbl/guide/hide")'></i>
	  </div>
	  <div class="six columns cmd-right">
      	    <i class='fa fa-angle-up    fa-remote' onclick='remote("/cbl/guide/up")'></i>
      	    <i class='fa fa-angle-double-up    fa-remote' onclick='remote("/cbl/guide/pageup")'></i>
	  </div>
      </div>

      <div class="row">
	  <div class="six columns">
	    &nbsp
	  </div>
	  <div class="six columns cmd-right">
	    <td><a class='button' onclick="remote('/cbl/guide/select')">OK</a></td>
	  </div>
      </div>

      <div class="row">
	  <div class="six columns">
	    &nbsp
	  </div>
	  <div class="six columns cmd-right">
      	    <i class='fa fa-angle-down  fa-remote' onclick='remote("/cbl/guide/down")'></i>
      	    <i class='fa fa-angle-double-down  fa-remote' onclick='remote("/cbl/guide/pagedown")'></i>
	  </div>
      </div>


      {{ channelList('CHANNELS', 'Description', '', 'ID', 'Channel No.', ChannelGroups.cableChannels) }}

      {{ channelList('MUSIC', '', '', 'Description', 'Channel No.', ChannelGroups.musicChannels) }}


      <!-- ================================================================================ -->


      <h2>COMPONENT POWER</h2>

      <table id='power' class='u-full-width'>
      	<thead>
      	  <tr>
      	    <th>Component</th>
      	    <th>Power Button</th>
      	  </tr>
      	</thead>
      	<tbody>

	  <tr>
	    <td>Television</td>
	    <td><a class='button' onclick=remote('/tv/power/toggle')>TV Power On/Off</a></td>
	  </tr>

	  <tr>
	    <td>Cable</td>
	    <td><a class='button' onclick=remote('/cbl/power/toggle')>Cable Power On/Off</a></td>
	  </tr>

	  <tr>
	    <td>Audio</td>
	    <td><a class='button' onclick=remote('/aud/power/toggle')>Audio Power On/Off</a></td>
	  </tr>


	</tbody>
      </table>


      <!-- ================================================================================ -->


      <!-- <h2>Shell Command</h2> -->
      <!-- <label for='shellCommand'>Shell Command</label> -->
      <!-- <input type='text' class='u-full-width' value='irsend SEND_ONCE RNG110 KEY_POWER' id='shellCommand'> -->

    </div>
  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
